.update-password {
  &__container {
    width: 50%;
    margin-top: $spacer-5;
    // padding-left: $spacer-7;
    // padding-right: $spacer-7;
    @include bp-lg {
      width: 100%;
      padding: $spacer-4;
    }
    .ant-form {
      button {
        width: 200px;
        height: 48px;
        @include bp-sm {
          width: 100%;
        }
      }
    }
  }
}
