/* OVERWRITE RULES FOR ANT DESIGN
! Do not update except there is an update in the design!
*/
.ant-input,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled),
.ant-input-number {
  height: 48px;
  border-radius: 4px;
  border: 1px solid $gray-200;
  &:hover,
  &:focus,
  &:focus-within {
    border: 1px solid $primary;
    box-shadow: none;
  }
}

.ant-input-number {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ant-input-number-input-wrap {
    width: 98%;
  }
}

.ant-form-item {
  margin-bottom: 7px;
}

.ant-form-item-label > label {
  color: $gray-400;
}
.ant-form-item-required::before {
  display: none;
}

.ant-form-item-label > label::after {
  display: none;
}

.ant-spin-text {
  color: #999;
}

.ant-checkbox {
  border-color: $secondary;
}
.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-disabled .ant-checkbox-inner {
  background-color: $secondary;
  border: 1px solid $secondary;
}
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
  border-color: $secondary;
}

.ant-modal-content {
  @media screen and (max-width: $sm) {
    margin: 13px;
  }
}
.ant-spin-dot-item {
  background-color: $primary;
}

.ant-input-number-handler-wrap {
  display: none;
}

.ant-rate {
  color: #fbca44;
}
.ant-rate-star:not(:last-child) {
  margin-right: 4px;
}

.ant-tooltip {
  max-width: 300px;
}

.ant-tooltip-arrow {
  @include bp-sm {
    display: none;
  }
}

// .ant-input:placeholder-shown {
//   text-overflow: ellipsis;
//   padding-bottom: 9px;
// }

/* END OF OVERWRITE RULES FOR ANT DESIGN */

/* Vue carousel design */

.VueCarousel-slide {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* End of carousel design */

// Vue awesome swiper design

.swiper-slide {
  @include d-flex-center;
  padding: $spacer-4;
}
// .swiper-button-next[data-v-2a183b29] {
.swiper-button-next {
  right: 20px !important;
  width: 40px !important;
  height: 40px !important;
  background-color: $white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  border-radius: 50%;
  &::after {
    font-size: 14px !important;
    font-weight: bold;
    @include d-flex-center;
    color: black;
  }
}

// .swiper-button-prev[data-v-2a183b29] {
.swiper-button-prev {
  left: 20px !important;
  width: 40px !important;
  height: 40px !important;
  background-color: $white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  border-radius: 50%;
  &::after {
    font-size: 14px !important;
    font-weight: bold;
    @include d-flex-center;
    color: black;
  }
}
// End of Vue awesome swiper design
