.btn-link {
  background-color: $primary;
  color: $white;
  padding: $spacer-3 $spacer-6;
  border-radius: 4px;
  transition: all 200ms ease-in-out;

  &:hover {
    color: $white;
    border: 0.4px solid $primary;
    color: $primary;
    background-color: transparent;
  }
}

// Button rule
.btn-primary {
  background: $primary;
  border-radius: 4px;
  color: $white;
  padding: 0.8rem $spacer-9;
  transition: all 0.2s linear;

  &:hover,
  &:focus-within {
    color: $white;
    opacity: 0.8;
    transform: translateY(-2px);
  }
}
