/** COLORS 
* * Include: gray, yellow, primary, secondary
**/

// gray
$gray-50: #f9f9f9;
$gray-70: #f4f6f8;
$gray-100: #e0e0e0;
$gray-200: #bdbdbd;
$gray-300: #828282;
$gray-400: #4f4f4f;
$gray-500: #767679;
$gray-600: #141519;

// yellow
$yellow-20: #110f0c;
$yellow-50: #fffbeb;
$yellow-100: #fef3c7;
$yellow-200: #fde68a;
$yellow-300: #fcd34d;
$yellow-400: #fbbf24;

// green
$green-10: #caedd9;
$green-50: #ecfdf5;
$green-100: #d1fae5;
$green-200: #a7f3d0;
$green-300: #6fcf97;
$green-400: #eff7ff;

//  primary, success, danger and info

$primary: #ff9100;
$secondary: #004ac2;
$secondaryLight: #0061ff;
$danger: #eb5757;
$danger-light: #f9c8c8;
$danger-dark: #e0474e;
// $success: #36a162;
$success: #05b592;
$info: #ff9100;
$important: #c4a2fc;

// Commmon
$white: #ffffff;
$dark: #000000;

/* SPACING
* Can be used for margins, paddings
*/

$spacer-0: 0rem;
$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: 0.75rem;
$spacer-4: 1rem;
$spacer-5: 1.5rem;
$spacer-6: 2rem;
$spacer-7: 2.5rem;
$spacer-8: 3rem;
$spacer-9: 3.5rem;
$spacer-10: 5rem;

/* BREAKPOINTS
* Screen Sizes from extra small to extra large screen
*/

$xs: 320px;
$sm: 640px;
$md: 768px;
$md-lg: 960px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

/* WEIGHT
* Font weight from 100 - 900
*/

$w-100: 100;
$w-200: 200;
$w-300: 100;
$w-400: 400;
$w-500: 500;
$w-600: 600;
$w-700: 700;
$w-800: 800;
$w-900: 900;
