.header {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100px;
    background-color: $dark;
    color: $white;
    padding: 0 $spacer-6;
    z-index: 100;
    transition: 300ms all cubic-bezier(0.39, 0.575, 0.565, 1);
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    .logo {
      @include flex-basis(35%);
      a {
        @include flexbox;
      }
      h1 {
        font-weight: $w-900;
        margin-left: $spacer-2;
        color: $secondaryLight;
      }
      &--text {
        @include bp-sm {
          display: none;
        }
      }
    }
    .links {
      @include flexbox;
      list-style-type: none;
      @include align-self(stretch);
      @include align-items(center);

      li.link {
        color: $dark;
        margin-right: $spacer-3;
        height: 99%;
        @include flexbox;
        // position: relative;

        .dropdown {
          position: absolute;
          top: 90px;
          min-width: 120px;
          background: black;
          box-shadow: 0px 1px 10px 0px $primary;
          border-radius: 6px;
          list-style-type: none;
          padding: 0 $spacer-3;
          display: none;
          li {
            margin: $spacer-3 0;
          }
        }
        // Display corresponding dropdowns on hover
        &.company {
          &:hover {
            .company-dropdown {
              display: block;
            }
          }
        }

        &.education {
          &:hover {
            .education-dropdown {
              display: block;
            }
          }
        }

        &.community {
          &:hover {
            .community-dropdown {
              display: block;
            }
          }
        }

        &.service {
          &:hover {
            .service-dropdown {
              display: block;
            }
          }
        }

        & > * {
          margin: auto;
        }
        &.active {
          &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            border-bottom: 3px solid $white;
            width: 100%;
          }
        }

        &:last-child {
          margin-right: 0;
        }
        a {
          color: $white;
          &.nuxt-link-exact-active {
            font-weight: bold;
          }
        }
      }
      @include bp-md {
        display: none;
      }
    }
    .ctaBtn {
      @include d-flex-center;
      &--search {
        margin-right: $spacer-4;
        cursor: pointer;
      }
      &--register {
        background-color: $primary;
        color: $white;
        padding: $spacer-3 $spacer-4;
        border-radius: 4px;
        font-weight: bold;
        margin-left: $spacer-4;
        cursor: pointer;
        &:hover {
          background-color: $white;
          color: $primary;
        }
      }
      &--hamburger {
        width: 55px;
        height: 30px;
        height: auto;
        padding: 0.6rem 1.1rem;
        background-color: rgba(0, 0, 0, 0.7);
        background: #ffa500f7;
        border-radius: 100px;
        @include d-flex-center(center, center, column);
        cursor: pointer;
        display: none;

        div {
          width: 70%;
          height: 2px;
          background-color: $white;
          margin: auto;
          margin-bottom: 3px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      @include bp-sm {
        &--register,
        &--login {
          display: none;
        }
        &--hamburger {
          display: block;
        }
      }
    }
  }

  .scroll-bg {
    background-color: white;
    border-bottom: 0.4px solid $gray-100;
    // box-shadow: 0 0 2px rgb(0 0 0 / 25%);
  }
  .scroll-text {
    color: $gray-100;
    color: black !important;
    font-weight: 600;
  }
}
