.default-layout {
  .container {
    background: white;
    width: 100%;
    height: auto;
    margin-top: 100px;
  }
  footer {
    background-color: $dark;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    min-height: 350px;
    padding: $spacer-9 $spacer-10 $spacer-2 $spacer-10;

    @include bp-sm {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .a-row {
      background-color: white;
      width: 100%;
    }
    .footer--link {
      // background-color: red;
      padding: 10px 0;

      &-content {
        @include flexbox;
        @include flex-direction(column);
        margin-top: $spacer-2;
        a {
          color: $white;
          margin-top: $spacer-2;
          word-wrap: break-word;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    .footer-logo {
      @include flexbox;
      h1 {
        font-weight: $w-900;
        margin-left: $spacer-2;
        color: $secondaryLight;
      }

      @include bp-sm {
        margin-top: $spacer-5;
      }
    }

    h3 {
      color: $white;
      font-weight: bold;
    }
  }
  .copyright {
    width: 100%;
    height: 50px;
    background-color: $primary;
    @include d-flex-center;
    p {
      margin: auto;
    }
  }
}
