.indexpage {
  &__banner {
    width: 100%;
    min-height: 80vh;
    // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    //   url("~/assets/images/Banner.jpg") center center;
    background: url("~/assets/images/Banner.jpg") center center;
    background-size: cover;
    @include flexbox;
    @include align-items(center);
    padding: $spacer-7;

    .wrapper {
      width: 55%;
      h1 {
        color: $white;
        font-weight: bolder;
        font-size: 3rem;

        @include bp-md {
          font-size: 2.5rem;
        }
        @include bp-sm {
          font-size: 2rem;
        }
      }
      p {
        color: $white;
        margin-bottom: $spacer-8;
        font-size: 24px;

        @include bp-sm {
          font-size: 1.2rem;
          margin-top: $spacer-2;
        }
      }
      a.btn-primary {
        font-weight: $w-600;
        &:hover {
          background-color: $white;
          color: $primary;
          opacity: 1;
        }
      }
    }

    @include bp-lg {
      min-height: 50vh;
      .wrapper {
        width: 100%;
      }
    }
  }
  &__intro {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    // @include flex-wrap(wrap);
    min-height: 350px;
    padding: $spacer-3 $spacer-10;

    section {
      text-align: center;
      margin: $spacer-4;
      min-height: 220px;
      .img {
        width: 90px;
        height: 90px;
        margin: auto;
      }
      h2 {
        font-weight: $w-600;
        margin: $spacer-3 0;
      }
      p {
        width: 70%;
        margin: auto;
        font-weight: $w-500;
      }
    }
    @include bp-sm {
      padding: 0;
    }
  }
  &__intro2 {
    width: 100%;
    min-height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url("~/assets/images/intro2.svg");
    background-size: contain;
    background-color: black;
    position: relative;
    padding: $spacer-6;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    &--left {
      position: absolute;
      width: 15%;
      height: 100px;
      bottom: 0;
      left: $spacer-3;
      top: 0;
      height: 100%;
      @include flexbox;
      @include flex-direction(column);

      img {
        transition: all 150ms linear;
        &:nth-child(1) {
          margin-top: $spacer-3;
        }
        &:nth-child(2) {
          position: relative;
          margin-left: auto;
        }
        &:last-child {
          position: absolute;
          bottom: $spacer-3;
          left: $spacer-3;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      @include bp-sm {
        display: none;
      }
    }
    h1 {
      color: $white;
      width: 45%;
      font-weight: $w-600;
      @include bp-sm {
        width: 100%;
      }
    }
    &--right {
      position: absolute;
      width: 20%;
      height: 100px;
      top: 0;
      right: 0;
      height: 100%;
      bottom: 0;
      right: $spacer-3;
      @include flexbox;
      @include flex-direction(column);

      img {
        transition: all 150ms linear;
        &:nth-child(1) {
          margin: $spacer-3 auto 0 auto;
        }
        &:nth-child(2) {
          position: relative;
          margin-left: auto;
        }

        &:nth-child(3) {
          margin: auto;
        }
        &:last-child {
          margin-left: auto;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      @include bp-sm {
        display: none;
      }
    }
    // Breakpoint for the intro container
    @include bp-sm {
      padding: $spacer-4;
    }
  }
  .course-container {
    width: 100%;
    min-height: 650px;
    background-color: $gray-80;

    @include bp-sm {
      min-height: 580px;
    }
  }
  &__separate {
    width: 80%;
    padding: $spacer-8;
    margin: auto;

    @include bp-sm {
      padding: $spacer-2;
      width: 100%;
    }
  }

  &__courses {
    margin-bottom: $spacer-10;
    margin-top: $spacer-4;
    margin-left: 10px;
    margin-right: 10px;
    .VueCarousel-navigation-next[data-v-453ad8cd],
    .VueCarousel-navigation-prev[data-v-453ad8cd] {
      margin-right: 65px;
      background: $white;
      box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .VueCarousel-navigation-prev[data-v-453ad8cd] {
      margin-left: 65px;
    }
  }

  &__coin {
    width: 100%;
    min-height: 500px;
    background-color: $white;
    // background-color: $gray-50;
    overflow-y: scroll;

    padding: $spacer-5;
    @include d-flex-center(center, center, center, wrap);

    .card {
      width: 300px;
      min-height: 330px;
      background-color: $white;
      padding: $spacer-3;
      @include b-shadow-primary;
      border-radius: 8px;
      margin: $spacer-4;
      @include d-flex-center(center, center, column);

      // img {
      //   @include b-shadow-primary;
      // }

      h3 {
        margin: $spacer-5 0;
        font-weight: $w-600;
      }

      p {
        text-align: center;
        font-weight: $w-400;
      }
    }
  }

  &__categories {
    background-color: $gray-600;
    width: 100%;
    min-height: 300px;
    padding: $spacer-5 $spacer-10;
    h1 {
      position: relative;
      color: $white;
      font-weight: bold;
      text-align: center;
      margin-top: $spacer-10;

      &::after {
        position: absolute;
        content: "";
        background-color: $white;
        margin: auto;
        height: 4px;
        width: 50px;
        margin: auto;
        bottom: -10px;
        left: 0;
        right: 0;
      }
    }
    &--container {
      margin-top: $spacer-6;
      min-height: 90px;
      width: 100%;
      @include flexbox;
      @include justify-content(center);
      @include flex-wrap(wrap);
    }
    .ant-pagination {
      text-align: center;
      margin-top: 1rem;
    }
  }
  &__market {
    padding: $spacer-10 $spacer-4 $spacer-10 $spacer-4;
    min-height: 500px;
    &--title {
      position: relative;
      color: $secondary;
      font-weight: bold;
      text-align: center;

      &::after {
        position: absolute;
        content: "";
        background-color: $secondary;
        margin: auto;
        height: 4px;
        width: 50px;
        margin: auto;
        bottom: -10px;
        left: 0;
        right: 0;
      }
    }
    &--subtitle {
      text-align: center;
      margin-top: $spacer-6;
      margin-bottom: $spacer-4;
    }
    &--container {
      .cards {
        @include flexbox;
        @include justify-content(center);
        @include flex-wrap(wrap);
      }
      .btn {
        margin: auto;
        @include flexbox;
        margin-top: $spacer-5;
        a {
          text-align: center;
          margin: auto;
        }
      }
    }
  }
  &__glossary {
    padding: $spacer-10 $spacer-4 $spacer-10 $spacer-4;
    background-color: $white;
    &--title {
      position: relative;
      color: $secondary;
      font-weight: bold;
      text-align: center;

      &::after {
        position: absolute;
        content: "";
        background-color: $secondary;
        margin: auto;
        height: 4px;
        width: 50px;
        margin: auto;
        bottom: -10px;
        left: 0;
        right: 0;
      }
    }
    &--subtitle {
      text-align: center;
      margin-top: $spacer-6;
      margin-bottom: $spacer-4;
      text-align: center;
      width: 50%;
      margin: $spacer-5 auto;
    }
    &--container {
      @include flexbox;
      @include justify-content(center);
      @include flex-wrap(wrap);
      // background-color: red; Readjust
      width: 70%;
      margin: auto;
      margin-bottom: $spacer-6;

      @include bp-md {
        width: 100%;
      }
      @include bp-sm {
        // width: 100%;
        // @include flex-wrap(nowrap);
      }
    }
    .btn {
      @include flexbox;
      padding: $spacer-1;
      height: auto;

      & > * {
        margin: auto;
      }
    }
  }
}
