.learn {
  &__course-info {
    @include d-flex-center;
    width: 60%;
    margin: auto;
    padding-top: $spacer-10;

    @include bp-sm {
      padding-top: $spacer-6;
    }

    .img {
      width: 50%;
      height: 300px;

      @include bp-lg {
        margin-right: $spacer-5;
      }
    }
    &--text {
      width: 50%;
      text-align: justify;
    }

    @include bp-sm {
      @include flex-wrap(wrap);
      width: 87%;
      .img {
        width: 100%;
        margin-bottom: $spacer-4;
        margin-right: 0;
      }
      &--text {
        width: 100%;
      }
    }
  }
  &__difficulty {
    @include d-flex-center(center, center, column);
    margin: $spacer-10 0;
    &--container {
      display: flex;
      flex-wrap: wrap;

      .card {
        height: 150px;
        width: 150px;
        background-color: $white;
        @include b-shadow-primary;
        border-radius: 8px;
        margin: $spacer-4;
        @include d-flex-center(center, center, column);
        cursor: pointer;

        .icon {
          width: 80px;
          height: 80px;
          background-color: $secondary;
          border-radius: 50%;
          margin-bottom: $spacer-3;
        }
      }
    }
  }
  &__courses {
    @include flexbox;
    @include flex-direction(column);
    margin-bottom: $spacer-5;

    .container {
      @include d-flex-center(center, center, row, wrap);
      padding: $spacer-10;
      padding-bottom: $spacer-1;
      margin-top: 0;

      & > * {
        margin: $spacer-2;
      }
    }
    .ant-pagination {
      text-align: center;
    }
  }
}
