.course__card {
  background-color: $white;
  min-height: 300px;
  width: 300px;
  border-radius: 8px;
  @include b-shadow-primary;

  @include bp-sm {
    width: 270px;
  }
  &--header {
    // border-radius: 12px;
    width: 100%;
    height: 180px;
  }
  &--body {
    padding: $spacer-4;
    padding-bottom: 0;

    .course-type,
    .footer {
      @include flexbox;
      @include justify-content(space-between);
      margin: $spacer-3 0;
    }
  }
}
