.course__card {
  background-color: $white;
  min-height: 300px;
  width: 300px;
  border-radius: 8px;
  @include b-shadow-primary;

  &--header {
    width: 100%;
    height: 200px;

    @include bp-md {
      height: 150px;
    }
  }
  &--body {
    padding: $spacer-4;
    padding-bottom: 0;

    .course-type,
    .footer {
      @include flexbox;
      @include justify-content(space-between);
      margin: $spacer-3 0;

      .course-type--duration {
        @include flexbox;
        color: $gray-600;
        svg {
          margin-right: $spacer-2;
        }
      }

      button {
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
    .text-star-rating {
      color: #fbca44;
    }
  }
}
